@import "tailwindcss";

/* Vazirmatn Thin (100) */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir-font-v16.1.0/Vazir-Thin.woff2") format("woff2");
  font-weight: 100; /* Thin */
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Light (300) */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Medium (500) */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Vazirmatn Bold (700) */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* ------------------------------------------------------------------- */
body,
html {
  font-family: "Vazirmatn", Vazir, Tahoma, Arial, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE Ùˆ Edge */
  scrollbar-width: none; /* Firefox */
}
